*~
#*
not_in_git/
# IceStorm files
cpmz80.bin
cpmz80.blif
cpmz80.log
cpmz80.txt
# Simulation files
dump.vcd
a.out
target/blackice/iceboot/output/
iceboot.raw
iceboot.zip
icebootcpmz80.raw
icebootcpmz80.zip
log
xilinx/
